<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoUpdateProjectsMinimumRequiredClickOnceVersion" version="1.0.8" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="MaterialSkin.2" version="2.1.2" targetFramework="net472" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NuGet.Versioning" version="5.6.0-preview.2.6489" targetFramework="net472" />
</packages>